# ignore all files/directories except the explicitly mentioned ones. Should protect against trying to commit while running TestNG tests using the FileCacheSymlinkDrivers.
/*
!pom.xml
!README.md
!testng.xml
!TestNGPreprocessing.sh
!/src/

# Ignores the resources except written tests scripts.
/src/test/resources/*
!/src/test/resources/character_replacer/
