# External files archive info files that were added by extracting the archive over the project folder
archive_files.txt
archive_files_info.md

# External file archives (if any were generated)
hadoop-pipeline_*.tar.gz

# Tools directory (is a separate download)
hadoop-pipeline-tools/

# Class files
*.class

# Mac custom folder attributes
.DS_Store

# PyCharm project files
.idea

# Eclipse project settings folder
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
